.idea/
cmake-build-debug/
[Dd]ebug/
[Rr]elease/
*.d
*.eep
*.hex
*.map
*.srec
*.atsuo
*.dSYM/
*.su
*.idb
*.pdb
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.lib
*.a
*.la
*.lo
*.gch
*.pch
*.o
*.ko
*.obj
*.elf
*.i
*.asm
